<div class="container">
    <br><br><button class="btn btn-information" (click)="goBack()">Quay lại</button><br><br>
    <div class="panel panel-danger tieu-de-form-them">
                <div class="panel-heading">
                    <h3 class="panel-title">
                       {{ idUser != null ? 'Sửa User' : 'Thêm User' }}
                    </h3>
                </div>
                <div class="panel-body form-them">
                    <form novalidate [formGroup]="themUserForm">
                        <div class="form-group">
                            <label>Họ tên: </label>
                            <input type="text" formControlName="txtHoTen" class="form-control"/>
                            <div class="text-danger" *ngIf="themUserForm.controls.txtHoTen?.errors?.required && themUserForm.controls.txtHoTen?.touched">Không được bỏ trống trường này </div>
                        </div>
                        <div class="form-group">
                            <label>Tài khoản: </label>
                            <input type="text" formControlName="txtUsername" class="form-control" />
                            <div class="panel text-danger" *ngIf="(themUserForm.controls.txtUsername?.errors?.required && themUserForm.controls.txtUsername?.touched)">Không được bỏ trống trường này </div>
                            <div class="panel text-danger" *ngIf="themUserForm.controls.txtUsername?.errors?.forbiddenName">Tên tài khoản không được chứa admin</div>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu: </label>
                            <input type="password" formControlName="txtPassword" class="form-control"/>
                             <div class="panel text-danger" *ngIf="(themUserForm.controls.txtPassword?.errors?.required && themUserForm.controls.txtPassword?.touched)">Không được bỏ trống trường này </div>
                              <div class="panel text-danger" *ngIf="(themUserForm.controls.txtPassword?.errors?.minlength)">Độ dài mật khẩu phải có ít nhất 6 ký tự</div>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ: </label>
                            <input type="text" formControlName="txtDiaChi" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại: </label>
                            <input type="text" formControlName="txtPhone" class="form-control"/>
                        </div>
                        <div class="text-center">
                            <button *ngIf="!idUser" class="btn btn-warning" type="button" (click)="addUser(themUserForm.value)" [disabled]="themUserForm.status == 'INVALID' ">Thêm</button>&nbsp;&nbsp;
                            <button *ngIf="idUser" class="btn btn-warning" type="button" (click)="updateUser(themUserForm.value)" [disabled]="themUserForm.status == 'INVALID' ">Sửa</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" type="button" (click)="goBack()">Hủy bỏ</button>
                        </div>
                    </form>
                </div>
            </div>
</div>